@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap");

:root {
    --green1: #198754;
    --green2: #91c788;
    --green3: #ddffbc;
    --green4: #feffde;
    --greymenu: #f8f9fa;
    --font: "Signika", sans-serif;
    --bs-navbar-toggler-icon-bg: url("./img/LOGO_NAV.png");
}

body {
    font-family: var(--font);
    font-weight: 400;
}

/*Fondos para usar la paleta:*/

.bg1 {
    background-color: var(--green1);
}

.bg2 {
    background-color: var(--green2);
}

.bg3 {
    background-color: var(--green3);
}

.bg4 {
    background-color: var(--green4);
}

/*Grid de categorías (index)*/

.categorias p {
    font-size: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 20;
    text-shadow: 1px 1px 20px black;
}

.categorias .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.casilla {
    cursor: pointer;
}

.casilla:hover p {
    font-size: 6rem;
    transition: font-size 0.5s ease-in-out;
    -webkit-text-stroke: 0.1rem black;
}

#btn-session a {
    text-decoration: none;
    color: black;
}

#btn-session:hover a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.casilla:hover .overlay {
    background-color: rgba(27, 213, 6, 0);
    transition: background-color 1s ease-in-out;
}

.deportes {
    background-color: rgba(27, 213, 6, 0.116);
}
.camping {
    background-color: rgba(213, 6, 168, 0.116);
}
.extranjero {
    background-color: rgba(7, 5, 111, 0.365);
}
.acuatico {
    background-color: rgba(47, 235, 204, 0.319);
}
.animales {
    background-color: rgba(226, 146, 26, 0.29);
}

.description {
    height: 50vh;
    color: white;
}

/*Fondos para descripción de categorías (categoy)*/

.bgdeportes {
    background: url("../../public/img/deportesCategory.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bgacuatico {
    background: url("../../public/img/acuaticoCategory.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bgextranjero {
    background: url("../../public/img/extranjeroCategory.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bganimales {
    background: url("../../public/img/animalesCategory.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bgcamping {
    background: url("../../public/img/campingCategory.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.products {
    background-color: var(--greymenu);
    border: 1px solid;
    border-radius: 10px;
}

/*ADMIN*/

.img-admin {
    display: block;
    width: 100%;
}

.td-img {
    width: 5%;
    height: 5%;
}

.overSelect {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label:hover {
    background-color: var(--green1);
    color: white;
}

.adminForm {
    background-color: var(--greymenu);
    border: 1px solid #dadada;
}

/*GRID MENU USER*/

.profile-sidebar {
    background-color: var(--greymenu);
}

.profile-menu ul {
    list-style: none;
    margin-bottom: 0;
}

.profile-menu {
    margin: 5% 5% 0;
}

.profile-menu h4 {
    padding: 7%;
    margin: 0;
}

/*----- PÁGINA -----*/

#full-page {
    width: 99%;
}

.user-info {
    display: none;
}

#user-section {
    border-right: solid 1px black;
}

.profile-menu {
    padding: 0 1em;
}

.profile-menu:hover {
    cursor: pointer;
}

/*----- INFORMACIÓN -----*/

#user-data {
    padding: 3%;
}

#input-user-reppass {
    width: 30%;
}

@media (max-width: 768px) {
    #input-user-reppass {
        width: 100%;
    }

    #user-cont {
        width: 100%;
    }
}

/*LOG-IN*/

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7% 0 2em;
}

#p-login {
    padding-bottom: 7%;
}

#title {
    text-decoration: none;
}

.bg1 {
    background-color: var(--green1);
}

aside {
    grid-area: aside;
    background-color: var(--greymenu);
}

#title-user {
    margin-top: 1rem;
}

.apartado {
    padding: 0 1rem;
}

article {
    grid-area: article;
    background-color: #198754;
    margin: 5em;
    margin: 1em;
}

/*LOG-IN*/

#p-login {
    padding-bottom: 7%;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    /* INDEX */
    .categorias p {
        font-size: 3em;
    }

    .categorias p:hover {
        font-size: 4em;
    }

    #btn-carrousel {
        padding: 6px 7px;
    }

    /* SIGNUP */

    #btn-signup {
        width: 40%;
        margin-left: 30%;
    }

    /* GRID MENU USER */
    .menu {
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-areas:
            "aside aside"
            "article";
        width: 100%;
    }

    #nacimiento {
        margin-top: 1.5em;
    }
}
